<!DOCTYPE html>
<html>
<head>
	<title>Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css">
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<style>
.ui-listview .ui-li-has-thumb>.ui-btn>img:first-child {
	max-width: none;
}
li.ui-li-has-thumb > .ui-btn > h3 {
	font-size: 28px;
}
li.ui-li-has-thumb > .ui-btn > h3,li.ui-li-has-thumb > .ui-btn > p {
	margin-left: 50px;
}
li.ui-li-has-thumb > .ui-btn > h3 {
	margin-top: 0px;
}
li.ui-li-has-thumb > .ui-btn > p {
	margin-top: -10px;
}
.menuDetailImage {
	width: 100%;
}
</style>
<script id="listItemTemplate" type="text/template">
<li>
	<a href="#detailPage" onclick="updateDetail(<%= index %>)"><img src="<%= data.photoURL %>"><h3><%= data.date %></h3><p><%= data.mealTime %></p></a>
</li>
</script>
<script id="detailTemplate" type="text/template">
<div data-role="header" class="header ui-header ui-bar-inherit" role="banner">
	<a role="button" data-role="button" class="ui-link ui-btn-left ui-btn ui-shadow ui-corner-all" data-rel="back">back</a>
	<h1 class="ui-title" role="heading" aria-level="1"><%= date %></h1>
</div><!-- /header -->
<div role="main" class="ui-content">
	<a href="<%= photoURL %>" target="_blank"><img class="menuDetailImage" src="<%= photoURL %>"></a>
	<p><%= text %></p>
</div><!-- /content -->
<div data-role="footer" role="contentinfo" class="ui-footer ui-bar-inherit">
	<h4 class="ui-title" role="heading" aria-level="1">happyhj@gmail.com</h4>
</div><!-- /footer -->
</script>
<script>

$( document ).ready(function() {

});
	var menus = [];
	var selectedIndex = 0;
	//$( "#detailPage>div" ).toolbar({ addBackBtn: true });
	$( "#detailPage .header" ).toolbar( "option", "addBackBtn", true );	
	$(document).on('pagebeforeshow', '#listPage', function(){     
		$.getJSON('http://heej.net/api/hancom_menu', function(data) {
			menus = data;
			var compiled = _.template($("#listItemTemplate").html());
			for(var i in menus) {
				document.querySelector("#listPage>div>ul").insertAdjacentHTML('beforeend', compiled({ "data":menus[i], "index" : i}));
			}
			$('#listPage>div>ul').listview('refresh');
		});
	});

	
	function updateDetail(menuIndex) {
		selectedIndex = menuIndex;
		var compiled = _.template($("#detailTemplate").html());
		$('#detailPage').html(compiled(menus[selectedIndex])).page('refresh'); 
	}

</script>
</head>

<body>

<!-- Start of first page -->
<div data-role="page"  id="listPage">
	<div data-role="header">
		<h1>한컴메뉴</h1>
	</div><!-- /header -->
	<div role="main" class="ui-content">
		<ul data-role="listview">
		</ul>
	</div><!-- /content -->
	<div data-role="footer">
		<h4>happyhj@gmail.com</h4>
	</div><!-- /footer -->
</div><!-- /page -->

<!-- Start of second page -->
<div data-role="page" id="detailPage">
</div><!-- /page -->
</body>